*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  padding: 1rem;
  text-align: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

/* my solution */
/* header section */
.header {
  display: flex;
  align-items: center;
  padding: 16px;
}

.header__title {
  font-size: 32px;
  font-weight: 900;
}

.body__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 100vh;
}

.main__conatiner {
  flex: 1;
  display: flex;
}

.sidebar {
  flex-shrink: 0;
  padding: 16px;
}

.card {
  padding: 1rem;
  width: 18.75rem;
  flex-wrap: wrap;
}
.menu > * + * {
  margin-top: 1rem;
}

.box__container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 3rem;
}

.header__link {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.menu {
  list-style: none;
}
