body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 2.0625rem;
  margin: 0.75rem;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 3rem;
}

.three {
  background: peachpuff;
  border: 0.1875rem solid brown;
  width: 12.5rem;
  /* CHANGE ME */
  padding: 2.0625rem;
  margin-left: 20rem;
}
