*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  gap: 1rem;
}
.btn {
  background: none;
  border: none;

  cursor: pointer;
}

.button__style {
  font-size: 28px;
  font-family: Helvetica, sans-serif;
  border: 3px solid gray;
  border-style: ridge;
  padding: 0.5rem;
}

.btn__black {
  background-color: #000;
  color: #fff;
  font-weight: 600;
}

.btn__yellow {
  background-color: yellow;
  font-weight: 600;
}
