*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  margin: 16px auto;
  background-color: #fff;
  padding: 8px;
  width: 600px;
  height: auto;
}

.card > * + * {
  margin-top: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 32px;
  margin-top: 16px;
  padding: 1rem;
}

.content {
  background: #e3f4ff;
  font-size: 1.2rem;

  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  background-color: #fff;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
  border-radius: 6px;
}
